# macOS
.DS_Store

# dependencies
node_modules/
server/node_modules/

# environment
.env
server/.env

# sqlite runtime files
server/*.sqlite
server/*.sqlite-shm
server/*.sqlite-wal

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
